.container {
    width: 85%;
    margin: 0px auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titles > p {
    font-size: 1.563rem;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #56BBF1;
}

.titles > h2 {
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 60px;
    /* box-shadow: 0px 24.14px 48.28px 0px #0000001A; */
}

.titles > h2 > strong {
    color: #56BBF1;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.faqItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    border: 1px solid #384347;
    border-radius: 10px;
    padding: 16px 32px;
    opacity: 88%;
    overflow: hidden;
}

.faqHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faqHeaderH5 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #384347;
}

.faqContent {
    max-height: 0;
}

.faqContent.open {
    max-height: 500px; 
}

.faqContent.close {
    display: none;
}

.faqItem.open {
    max-height: 500px;
    padding-bottom: 20px;
}

.description {
    margin-top: 10px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .container {
        width: 90%;
        padding: 50px 0px;
    }
    .content {
        gap: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 95%;
        padding: 25px 0px;
    }
    .content {
        gap: 10px;
    }

    .faqItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        border: 1px solid #384347;
        border-radius: 10px;
        padding: 20px;
        opacity: 88%;
        overflow: hidden;
    }

    .titles > h2 {
        text-align: center;
        font-size: 2.25rem;
    }

    .titles > p {
        text-align: center;
    }

    .faqHeaderH5 {
        font-size: 0.875rem;
    }

    .iconFaq {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 767px) { 
    .container {
        width: 95%;
        padding: 25px 0px;
        overflow-x: hidden;
    }
    .content {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .titles > h2 {
        text-align: center;
        font-size: 2.25rem;
    }

    .titles > p {
        text-align: center;
    }

    .faqItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        border: 1px solid #384347;
        border-radius: 10px;
        padding: 20px;
        opacity: 88%;
        overflow: hidden;
    }

    .faqHeaderH5 {
        font-size: 0.875rem;
    }

    .iconFaq {
        width: 20px;
        height: 20px;
    }
}

