.container {
    /* background-image: url('../../assets/ruta.webp');
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* width: 100%; */
}


.content{
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding: 75px 0px; */

}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.textContainer > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textContainer > div > p {
    color: rgba(0, 0, 0, 0.70);
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.titleBell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.titleBell > h3 {
    font-size: 25px;
    font-weight: 700;
}

.displayNone {
    display: none;
}

@media (max-width: 600px) { 
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        gap: 30px;
    }
    
    .phoneDetail {
        display: none;
    }

    .displayNone {
        display: block;
    }

    .content{
        flex-direction: column;
        width: 100%;
        /* padding: 75px 0px; */
    }

    .textContainer{
        width: 100%;
        gap: 30px;
    }

    .titleBell > h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .titleBell > img {
        width: 30px;
        height: 30px;
    }
}
