.content{
    display: flex;
    justify-content: center;
    align-content: center;
    /* padding: 75px 0px; */

}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.textContainerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 20px;
    width: 500px;
}

.textContainer > div, .textContainerTwo > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textContainer > div > p, .textContainerTwo > div > p {
    color: rgba(0, 0, 0, 0.70);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: left;
}

.titleBell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.textContainerTwo > div > .titleBell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.titleBell > h4 {
    font-size: 1.563rem;
    font-weight: 700;
}

.contentNone {
    display: none;
}

.divIcon {
    background-color: #56BBF1;
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        width: 95%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    .contentNone {
        display: none;
    }


    .phoneDetail{
        width: 400px;
        height: 500px;
    }

    .titleBell > h4 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .textContainer > div > p {
        color: rgba(0, 0, 0, 0.70);
        font-weight: 400;
        font-size: 1rem;
        text-align: left;
    }

    .textContainerTwo > div > p {
        color: rgba(0, 0, 0, 0.70);
        font-weight: 400;
        font-size: 1rem;
        text-align: right;
    }
}

@media (max-width: 767px) { 
    .container{
        width: 95%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 15px;
        gap: 15px;
        text-align: left;
    }
    
    .phoneDetail {
        display: none;
    }

    .textContainerTwo {
        display: none;
    }

    .contentNone {
        display: block;
        margin-bottom: 50px;
    }

    .content, .contentNone {
        flex-direction: column;
        width: 100%;
        /* padding: 75px 0px; */
    }

    .textContainer{
        width: 100%;
        gap: 30px;
    }

    .titleBell > h4 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .titleBell > img {
        width: 30px;
        height: 30px;
    }
}
