.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 50px auto;
}

.mainTitle {
    color: #56BBF1;
    /* font-family: Open Sans Hebrew; */
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    padding: 20px 0px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;

}

.title{
    color: #56BBF1;
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}

.description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        width: 95%;
        overflow-x: hidden;
        margin: 25px auto;
    }

    .mainTitle {
        color: #56BBF1;
        /* font-family: Open Sans Hebrew; */
        font-size: 2.813rem;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        padding: 20px 0px;
    }

    .title {
        font-size: 1.25rem;
    }

    .description {
        font-size: 1rem;
    }

    .content > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 15px;
    
    }

    .icon {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content > div {
        padding: 15px;
    }

    .icon {
        width: 64px;
        height: 64px;
    }

    .description {
        font-size: 1rem;
    }
}

@media (max-width: 767px) { 
    .container {
        width: 100%;
        overflow-x: hidden;
        margin: 0px auto;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content > div {
        padding: 25px;
    }

    .mainTitle {
        font-size: 2.25rem;
        text-align: center;
    }

    .icon {
        width: 64px;
        height: 64px;
    }

    .description {
        font-size: 1rem;
    }
}