.container { 
    background-image:url('../../assets/fondo.svg');
    background-repeat: no-repeat;
    background-position: right center;
    /* background-color: #D9D9D91A; */
    padding: 0px;


}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0px;
}


.titleHero {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 80%;
    gap: 25px;
    
}

.titleHero > h2 {
    font-size: 3.125rem;
}


.titleHero > h2 > strong {
    color: rgba(86, 187, 241, 1);
}

.titleHero > p {
    font-size: 1.875rem;
    color: rgba(0, 0, 0, 0.54);
}

.titleHero > button {
    width: 202.27px;
    padding: 20px;
    gap: 0px;
    border-radius: 25.35px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background: #56BBF1;
    color: #F3FBFD;
}

.displayNone {
    display: none;
}

@media (max-width: 1024px) {
    .titleHero > h2 {
        font-size: 2.5rem;
    }

    .titleHero > h2 > strong {
        color: rgb(5, 5, 5);
    }

    .titleHero > p {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.54);
    }
}

@media (max-width: 600px) { 
    .container {
        background-image:url('../../assets/fondo-responsive.svg');
        background-repeat: no-repeat;
        background-position: top right;
        /* background-color: red; */
        height: 100vh
    }

    .content {
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    /* .displayNone{
        display: block;
        width: 500px;
        height: 250px
    } */
   
    /* .imageHero {
        display: none;
    } */

    /* .phoneHero {
        width: 500px;
        height: 250px;
    }  */

    .titleHero {
        width: 100%;
        /* height: 100px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .titleHero > h2 {
        font-size: 1.875rem;
    }

    .titleHero > h2 > strong {
        color: rgba(86, 187, 241, 1);
    }

    .titleHero > p {
        font-size: 0.875rem;
    }

    .titleHero > button {
        width: 115px;
        padding: 10px 15px;
        gap: 0px;
        border-radius: 15px;
        border: none;
        font-size: 0.625rem;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        background: #56BBF1;
        color: #F3FBFD;
    }

}