.container {
    /* width: 85%; */
    /* width: 85%; */
    /* margin: 50px auto; */
    height: 75vh;
    overflow-x: hidden;
}

.divSlide {
  display: flex;
  /* width: 100%; */
  margin: 0px auto;
  background-color: blue;
}

.imagen {
  display: block;
  margin: 0px auto; 
}
  