.container {
    height: 65vh;
    overflow-x: hidden;
}

.divSlide {
  display: flex;
  /* width: 100%; */
  margin: 0px auto;
  background-color: blue;
}

.imagen {
  display: block;
  margin: 0px auto; 
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    height: 100%;
    width: 100%;
    padding: 50px 0px;
  }

  .imagen {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 767px) {
  .container {
    height: 80vh;
  }
}