.container {
    background-color:#0C101B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 75px 0px;
}

.container > div {
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
}

.container > div > p {
    color: white; 
    font-size: 14px;
    margin: 0;
    text-align: center;
    letter-spacing: 0.3px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.content > h4 {
    color: #56BBF1; 
    font-size: 1.563rem;
    font-weight: 600;
    line-height: 22.98px;
}

.content > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .container {
        gap: 25px;
        overflow: hidden;
    }
    .logo {
        width: 150px;
        /* height: 200px; */
    }
}
